.Club-container {
  display:flex;
  flex-direction: column;
  flex-wrap : wrap;
  width: 100%;
}
.Club-list {
  list-style: none;
  padding:0px;
}
.Club-card-container {
  width: 25%;
  float: left;
}
.Club-card {
  width:100%;
  height: 100%;
}