header {
  height: 75px;
  padding: 0.1rem;
  color: black;
  background: transparent;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px groove #2B3A55 ;
}
span {
  padding: 5px;
}